In [2]:
import pandas as pd

KPIs

In [4]:
kpis = pd.read_json('kpis.json')
daily_df = pd.json_normalize(kpis.loc[0, 'dailyData'])
daily_df.to_json('kpis_daily.json', orient='records', indent=2)

In [31]:
kpi = pd.read_json('kpis_daily.json')

kpi['revenue'] = kpi['revenue'].str.replace('$','')
kpi['expenses'] = kpi['expenses'].str.replace('$','')

kpi['revenue'] = kpi['revenue'].astype('float32')
kpi['expenses'] = kpi['expenses'].astype('float32')

cols = list(kpi.columns)
cols[cols.index('expenses')] = 'expense'
colsold = list(kpi.columns)

colDict = {}
for i in range(len(cols)):
    colDict[colsold[i]] = cols[i]

kpi.rename(colDict, axis = 1, inplace=True)
kpi['profit'] = round((kpi['revenue'] - kpi['expense']),2)
kpi['month'] = kpi['date'].dt.month
kpi['date'] = kpi['date'].dt.date
kpi

           date      revenue     expense       profit  month
0    2022-01-02  1498.939941  430.640015  1068.300049      1
1    2022-01-03   935.080017  329.320007   605.760010      1
2    2022-01-04  1350.959961  562.489990   788.469971      1
3    2022-01-05  1244.329956  679.320007   565.010010      1
4    2022-01-06  1132.989990  439.799988   693.190002      1
..          ...          ...         ...          ...    ...
360  2022-12-28  1049.910034  583.099976   466.809998     12
361  2022-12-29  1110.050049  387.959991   722.090027     12
362  2022-12-30  1403.439941  527.349976   876.090027     12
363  2022-12-31   549.520020  577.919983   -28.400000     12
364  2023-01-01   832.700012  664.409973   168.289993      1

[365 rows x 5 columns]

In [33]:
kpi.to_json('./repo/data/kpis_daily.json',orient='records',indent=2)

In [57]:
kpim = pd.json_normalize(kpis.loc[0, 'monthlyData'])

kpim['revenue'] = kpim['revenue'].str.replace('$','')
kpim['expenses'] = kpim['expenses'].str.replace('$','')
kpim['operationalExpenses'] = kpim['operationalExpenses'].str.replace('$','')
kpim['nonOperationalExpenses'] = kpim['nonOperationalExpenses'].str.replace('$','')

kpim['revenue'] = kpim['revenue'].astype('float32')
kpim['expenses'] = kpim['expenses'].astype('float32')
kpim['operationalExpenses'] = kpim['operationalExpenses'].astype('float32')
kpim['nonOperationalExpenses'] = kpim['nonOperationalExpenses'].astype('float32')

cols = list(kpim.columns)
cols[cols.index('expenses')] = 'expense'
cols[cols.index('operationalExpenses')] = 'opexp'
cols[cols.index('nonOperationalExpenses')] = 'nonopexp'

colsold = list(kpim.columns)

colDict = {}
for i in range(len(cols)):
    colDict[colsold[i]] = cols[i]

kpim.rename(colDict, axis = 1, inplace=True)

kpim

        month       revenue       expense         opexp     nonopexp
0     january  15989.639648  14231.730469  10340.030273  4891.700195
1    february  15832.769531  11677.839844   7006.689941  8661.150391
2       march  16481.269531  14664.030273   8797.419922  7866.609863
3       april  18229.380859  12336.519531   7401.910156  2934.610107
4         may  17401.789062  11160.610352   4296.370117  4864.240234
5        june  18274.029297  12311.610352   7386.959961  9924.650391
6        july  19349.980469  15431.809570   9258.089844  7173.720215
7      august  16647.289062  13213.709961   3127.820068  5085.890137
8   september  19344.070312  17405.919922  10443.549805  4962.370117
9     october  21160.220703  12990.580078   3594.350098  9396.230469
10   november  22655.029297  17140.800781  10284.480469  3856.320068
11   december  17757.750000  15266.969727   9160.179688  4106.790039

In [58]:
kpim.to_json('./repo/data/kpis_monthly.json',orient='records',indent=2)

Products

In [43]:
prod = pd.read_json('products.json')

prod['price'] = prod['price'].str.replace('$','')
prod['expense'] = prod['expense'].str.replace('$','')

prod['price'] = prod['price'].astype('float32')
prod['expense'] = prod['expense'].astype('float32')

prod['transactions_count'] = (prod['transactions']).astype('str').str.split(',').str.len().astype('int16')
prod

,_id,price,expense,transactions,transactions_count
0,63bf7ac9f03239e002001600,43.410000,5.97,"[63bf7ccef03239554c002449, 63bf7ccef03239855d0...",4
1,63bf7ac9f03239e002001601,60.130001,9.12,"[63bf7ccef032396a8e001696, 63bf7ccef0323922d20...",4
2,63bf7ac9f03239e002001602,195.050003,6.72,"[63bf7ccef03239e002001606, 63bf7ccef0323922d20...",2
3,63bf7ac9f03239e002001603,46.250000,9.95,"[63bf7ccef03239aec900155b, 63bf7ccef03239eb9d0...",3
4,63bf7ac9f03239e002001604,87.410004,7.97,"[63bf7ccef03239855d00155d, 63bf7ccef03239855d0...",5
...,...,...,...,...,...
119,63bf7ac9f03239eb9d0016c8,42.709999,7.26,"[63bf7ccef032396a8e001696, 63bf7ccef032397b4f0...",2
120,63bf7ac9f03239eb9d0016c9,106.889999,2.49,[63bf7ccef03239966c00169d],1
121,63bf7ac9f03239eb9d0016ca,162.960007,2.18,"[63bf7ccef03239f920001691, 63bf7ccef0323937a50...",4
122,63bf7ac9f03239eb9d0016cb,102.900002,1.40,"[63bf7ccef03239966c00169f, 63bf7ccef032394cbd0...",5
123,63bf7ac9f03239eb9d0016cc,21.980000,7.86,"[63bf7ccef03239343e0016a3, 63bf7ccef032397b4f0...",3

In [59]:
prod.to_json('./repo/data/products.json', orient='records',indent=2)

Transactions

In [51]:
tran = pd.read_json('./repo/data/transactions.json')

tran['amount'] = tran['amount'].str.replace('$','').astype('float32')
tran['products'] = (tran['productIds']).astype('str').str.split(',').str.len().astype('int16')
tran

,id,amount,buyer,productIds,products
0,63bf7ccef03239e002001606,154.369995,Jorrie Tidswell,[63bf7ac9f03239e002001604],1
1,63bf7ccef03239e002001607,207.449997,Alfonse Surridge,"[63bf7ac9f032396a8e00168e, 63bf7ac9f032396a8e0...",4
2,63bf7ccef03239e002001608,23.740000,Flem Domenc,"[63bf7ac9f0323937a5001689, 63bf7ac9f032396a8e0...",5
3,63bf7ccef03239e002001609,156.669998,Jordain Gilberthorpe,"[63bf7ac9f0323975d6001692, 63bf7ac9f0323937a50...",4
4,63bf7ccef03239e00200160a,174.949997,Thelma Christoforou,"[63bf7ac9f032397b4f0015fd, 63bf7ac9f032396a8e0...",4
...,...,...,...,...,...
253,63bf7ccef03239eb9d0016e6,35.889999,Jeramie Mc Gaughey,[63bf7ac9f0323922d2001691],1
254,63bf7ccef03239eb9d0016e7,88.260002,Der Yuille,"[63bf7ac9f03239343e00169e, 63bf7ac9f0323901e60...",3
255,63bf7ccef03239eb9d0016e8,50.840000,Zelig Punton,"[63bf7ac9f03239f92000168a, 63bf7ac9f032397b4f0...",2
256,63bf7ccef03239eb9d0016e9,88.760002,Randolf Cheavin,"[63bf7ac9f0323937a5001689, 63bf7ac9f0323901e60...",3
257,63bf7ccef03239eb9d0016ea,254.580002,Loy Randerson,[63bf7ac9f032394f5f002437],1

In [52]:
tran.to_json('./repo/data/transactions.json', orient='records', indent=2)

In [63]:
k1 = pd.read_json('repo\data\kpis_monthly.json')
k2 = pd.read_json('repo\data\kpis_daily.json')

# a = k1[k1['mon']]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jager\AppData\Local\Temp\ipykernel_6848\165174934.py:1: SyntaxWarning: invalid escape sequence '\d'
  k1 = pd.read_json('repo\data\kpis_monthly.json')
C:\Users\jager\AppData\Local\Temp\ipykernel_6848\165174934.py:2: SyntaxWarning: invalid escape sequence '\d'
  k2 = pd.read_json('repo\data\kpis_daily.json')

In [84]:
a = k1[k1['month'] == 'february']['expense'].values[0]
b = sum(k2[k2['month'] == 2]['expense'])
print(a, b)

11677.83984375 14824.7699890136

In [83]:
k1

        month       revenue       expense         opexp     nonopexp
0     january  15989.639648  14231.730469  10340.030273  4891.700195
1    february  15832.769531  11677.839844   7006.689941  8661.150391
2       march  16481.269531  14664.030273   8797.419922  7866.609863
3       april  18229.380859  12336.519531   7401.910156  2934.610107
4         may  17401.789062  11160.610352   4296.370117  4864.240234
5        june  18274.029297  12311.610352   7386.959961  9924.650391
6        july  19349.980469  15431.809570   9258.089844  7173.720215
7      august  16647.289062  13213.709961   3127.820068  5085.890137
8   september  19344.070312  17405.919922  10443.549805  4962.370117
9     october  21160.220703  12990.580078   3594.350098  9396.230469
10   november  22655.029297  17140.800781  10284.480469  3856.320068
11   december  17757.750000  15266.969727   9160.179688  4106.790039

In [66]:
k2[k2['month'] == 1]

          date      revenue     expense       profit  month
0   2022-01-02  1498.939941  430.640015  1068.300049      1
1   2022-01-03   935.080017  329.320007   605.760010      1
2   2022-01-04  1350.959961  562.489990   788.469971      1
3   2022-01-05  1244.329956  679.320007   565.010010      1
4   2022-01-06  1132.989990  439.799988   693.190002      1
5   2022-01-07  1158.310059  336.119995   822.190002      1
6   2022-01-08  1184.660034  516.099976   668.559998      1
7   2022-01-09   637.320007  635.059998     2.260000      1
8   2022-01-10  1315.209961  560.119995   755.090027      1
9   2022-01-11  1093.060059  540.049988   553.010010      1
10  2022-01-12  1477.770020  487.160004   990.609985      1
11  2022-01-13  1076.089966  616.289978   459.799988      1
12  2022-01-14  1130.959961  392.170013   738.789978      1
13  2022-01-15   846.419983  548.380005   298.040009      1
14  2022-01-16  1182.349976  366.720001   815.630005      1
15  2022-01-17  1046.609985  481.559998   565.049988      1
16  2022-01-18   601.650024  452.750000   148.899994      1
17  2022-01-19   798.330017  351.230011   447.100006      1
18  2022-01-20  1499.369995  340.850006  1158.520020      1
19  2022-01-21  1462.260010  630.309998   831.950012      1
20  2022-01-22  1447.380005  476.589996   970.789978      1
21  2022-01-23  1194.959961  482.850006   712.109985      1
22  2022-01-24   713.109985  754.330017   -41.220001      1
23  2022-01-25  1084.479980  547.369995   537.109985      1
24  2022-01-26   819.530029  653.590027   165.940002      1
25  2022-01-27  1306.609985  636.869995   669.739990      1
26  2022-01-28  1029.780029  719.460022   310.320007      1
27  2022-01-29  1415.180054  387.489990  1027.689941      1
28  2022-01-30   845.380005  533.929993   311.450012      1
29  2022-01-31   764.690002  762.349976     2.340000      1
364 2023-01-01   832.700012  664.409973   168.289993      1

In [75]:
k1

        month       revenue       expense         opexp     nonopexp
0     january  15989.639648  14231.730469  10340.030273  4891.700195
1    february  15832.769531  11677.839844   7006.689941  8661.150391
2       march  16481.269531  14664.030273   8797.419922  7866.609863
3       april  18229.380859  12336.519531   7401.910156  2934.610107
4         may  17401.789062  11160.610352   4296.370117  4864.240234
5        june  18274.029297  12311.610352   7386.959961  9924.650391
6        july  19349.980469  15431.809570   9258.089844  7173.720215
7      august  16647.289062  13213.709961   3127.820068  5085.890137
8   september  19344.070312  17405.919922  10443.549805  4962.370117
9     october  21160.220703  12990.580078   3594.350098  9396.230469
10   november  22655.029297  17140.800781  10284.480469  3856.320068
11   december  17757.750000  15266.969727   9160.179688  4106.790039